
    @media screen and (max-width: 700px) {
      .header{
        height: 100px !important;
        background-size: 100% 100px !important;
       }
       .header>.container{
        padding-top: 10px !important;
       }
      .sidebar{
      position: fixed;
      z-index: 5;
    }
    .pageBlock{
        padding-top: 100px !important;
      }
      .logo{
        width: 150px !important;
        height: 40px !important;
      }

    }

    html,body,h1,h2{
      margin: 0px;
      padding: 0px;
    }
    .pageBlock{
      padding-top: 155px;
    }
    .logo{
      width: 200px;
      height: 51px;
    }

     .header{
      width: 100%;
      height: 150px;
      background-image: url("../img/banner-overlay-black.png"),url("../img/banner.jpg");
      color: white;
      font-family: proxima;
      font-weight: 500;
      background-repeat: no-repeat;
      background-size: 100% 150px;
      border-bottom: 2px solid #ccc;
      position: fixed;
      z-index: 5;
     }
     .header>.container{
      padding-top: 20px;
     }
     .footer {
      width: 100%;
      padding-left: 10%;
    color: #ececec;
    background-color: #606060;
    bottom: 0px;
    position: fixed;
  }
  .sidebar{
    position: fixed;
    z-index: 5;
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  .mainContent{
    border-left:2px solid #ccc;
    margin-left: 20%;
  }
  .filter{
    width: 75%;
    position: fixed;
    z-index: 5;
  }