<!DOCTYPE html>
<html lang="en" ng-app="skm">

<head>
    <title>ABC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- End Google Tag Manager -->

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/coustom-app.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: white !important;opacity: 1 !important;filter: alpha(opacity=1) !important;" ng-controller="mainSearchController">
    <div class="background-cover " id="homepage-header-block">
        <div class="container">

            <div id="site-header" class="row">
                <div class="site-logo">
                    <h1>ABC</h1>
                </div>
                <div class="site-nav">
                    <div class="btn btn-primary signin-modal-trigger">sign in</div>
                </div>
            </div>



            <div id="homepage-search" class="row">
                <div class="col-16 col-push-4">
                    <form id="searchForm" method="get">
                        <input autocomplete="off" name="q" id="query" class="form-control" type="text" placeholder="Search for your favourite merchant, product or category" />
                        <button class="image-button" ng-click="search()"><img height="30" width="30" src="http://www.coupondunia.in/theme/Elegance/img/ic_menu_search_default.png">
                        </button>
                    </form>
                    <ul id="results" style="display:none;"></ul>
                    <div class="search-subtext h6" style="display: none;">Search: Popular Stores - Flipkart, Jabong, Myntra, Ebay Amazon and much more...</div>
                </div>
            </div>
            <div id="header-offers" class="row text-center">
                <div class="h2 homepage-banner-title">
                    How can we help you save?</div>
            </div>
        </div>
    </div>

    <div class="page-content dark">
        <div class="container">
            <div class="row">
                <div class="tabContainer " id="online-restro-slider">
                    <div id="tabs" class="text-center">
                        <div class="tab handle activeTab" id="online-coupons-tab">
                            <span>Popular Online Stores</span>
                        </div>
                        <div class="tab handle" id="restaurant-coupons-tab">
                            <span>Popular Local Restaurants</span>
                        </div>
                    </div>
                    <div id="tabcontents" class="row">
                        <div class="tabcontent online-coupons-tab" id="online-store-images">
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/amazon?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_2d0d480_289.jpg?v=1413531812" alt="Amazon" width="100%" class="slider-store-image">
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/jabong?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_2741ba5_395.jpg?v=1413531813" alt="Jabong" width="100%" class="slider-store-image">
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/ebay?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_5e29580_97.jpg?v=1413531812" alt="eBay" width="100%" class="slider-store-image">
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/myntra?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_63d3a1a_17.jpg?v=1413531811" alt="Myntra" width="100%" class="slider-store-image">
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/flipkart?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_5972793_1.jpg?v=1416212070" alt="Flipkart" width="100%" class="slider-store-image">
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="http://www.coupondunia.in/foodpanda?src=most_popular"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_7cc0d32_477.jpg?v=1416212583" alt="foodpanda" width="100%" class="slider-store-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content light">
        <div class="container">
            <div class="row">
                <div class="h2 text-center lighter">Online Offers</div>
                <div class="tabContainer" id="homepage-coupon-slider">
                    <div id="tabs" class="homepage-coupon-tabs">
                        <div class="tab handle activeTab" id="hottest-tab">
                            <span>Top Offers</span>
                        </div>
                        <div class="tab handle" id="latest-tab">
                            <span>Latest Offers</span>
                        </div>
                        <div class="tab handle" id="tab1-tab">
                            <span>Mobiles & Tablets Offers</span>
                        </div>
                        <div class="tab handle" id="tab1-tab">
                            <span>Fashion Offers</span>
                        </div>
                        <div class="tab handle" id="tab1-tab">
                            <span>Travel Offers</span>
                        </div>
                        <div class="tab handle" id="tab1-tab">
                            <span>Food & Dining Offers</span>
                        </div>
                    </div>

                    <div id="tabcontents">
                        <div class="tabcontent hottest-tab" id="hottest-coupons-homepage">
                            <div class="row">
                                <div class="row">
                                       <div class="col-6" id="c100127" ng-repeat="coupan in resultData">
                                            <div class="offer-small offer">
                                                <div class="vendor-image" style="background-color:#ffffff">
                                                    <a href="http://{{coupan.CouponSite}}"><img src="http://cdn01.coupondunia.in/sitespecific/media/generated/merchantlogos/logo_5e29580_97.jpg?v=1413531812" alt="eBay"></a>
                                                </div>
                                                <div id="c100127" class="offer-title ">
                                                    <a href="#">{{coupan.CouponCategory}}</a>
                                                </div>
                                                <div class="offer-getcode">
                                                    <div id="c100127" href="http://www.coupondunia.in/load/100127/" class="btn btn-cd btn-coupon coupon-click" data-type="online" data-clipboard-text="COUPOND100" data-couponid="100127" data-coupontype="MultipleUseCoupon" data-clickarea="HomeButton" data-websitename="eBay" data-websiteid="97" data-code="COUPOND100" data-url="http://www.coupondunia.in/load/100127/">{{coupan.CouponRank}}</div>
                                                 </div>
                                                
                                                <div class="vendor-offer-count trim-content">
                                                    <a href="http://www.coupondunia.in/ebay">See all 32 eBay offers</a>
                                                </div> 
                                             </div>
                                        </div>
                                   </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="cd-footer2">
            <div class="container">
                <h1>@ABC </h1>
            </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/angular/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/backendURLs.js"></script>
    <script src="js/controllers/MainSearchController.js"></script>
    <script src="js/controllers/ModalController.js"></script>
    <script src="js/services/EmailSearchService.js"></script>

</body>

</html>